Repository dimaslanjaka/safelink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.less": "prettier --list-different --write"
}

ignore lint dist files
  .eslintignore
Due: none

docs: change sample link to blame
  readme.md
Due: none

fix: update code actions on save settings to never organize imports and explicitly fix all
  .vscode/settings.json
Due: prettier --list-different --write

fix: replace cross-spawn with child_process and improve package checks
  packer.js
Due: eslint --fix

fix: update build-release workflow to improve path handling and node version configuration
  .github/workflows/build-release.yml
Due: prettier --list-different --write

feat: add instructions for conventional commits and Node.js configuration
  .github/instructions/all.instructions.md
  .github/instructions/nodejs.instructions.md
Due: none

refactor(changelog): rewrite changelog generation with version grouping
  changelog.js
Due: eslint --fix

chore(changelog): improve extraction logic
  changelog.js
Due: eslint --fix

fix(changelog): detect version bumps for plain semantic version strings
  changelog.js
Due: eslint --fix

feat(changelog): improve commit parsing with author info and better filtering
  changelog.js
Due: eslint --fix

feat: add binary-collections dependency
  package.json
Due: prettier --list-different --write

chore: remove auto generated CHANGELOG.md file
  .gitignore
  CHANGELOG.md
Due: none

chore(package): update scripts for prepack and prepublish hooks
  package.json
Due: prettier --list-different --write

feat: add resolutions for binary-collections, markdown-it, and sbg-utility dependencies
  package.json
Due: prettier --list-different --write

refactor: ignore dist files
  .gitignore
  dist/aes.d.ts
  dist/aes.js
  dist/b64.d.ts
  dist/b64.js
  dist/bundle.js
  dist/bundle.min.js
  dist/bundle.min.js.LICENSE.txt
  dist/encryptionURL.d.ts
  dist/encryptionURL.js
  dist/extractDomain.d.ts
  dist/extractDomain.js
  dist/index.d.ts
  dist/index.js
  dist/parseQuery.d.ts
  dist/parseQuery.js
  dist/resolveQueryUrl.d.ts
  dist/resolveQueryUrl.js
  dist/safelink.d.ts
  dist/safelink.js
  dist/string.d.ts
  dist/string.js
  dist/toURL.d.ts
  dist/toURL.js
Due: eslint --fix

fix: ensure proper initialization of MarkdownIt with commonmark option
  src-docs/EJSHelper/markdown.ts
Due: eslint --fix

fix: handle optional constructor parameter and improve redirect option handling
  src/safelink.ts
Due: eslint --fix

feat: add import test for safelinkify and demonstrate encodeURL functionality
  test/import.cjs
  test/import.js
Due: eslint --fix

feat(test): mjs import
  test/import.mjs
Due: none

refactor(eslint): migrate to flat config and update dependencies
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  eslint.config.mjs
  package.json
Due: eslint --fix, prettier --list-different --write

feat(test): initialize jest
  .gitignore
  .vscode/settings.json
  jest.config.ts
  package.json
  src/aes.ts
  test/aes.test.ts
Due: eslint --fix, prettier --list-different --write

test(extractDomain): add unit tests and improve robustness
  src/extractDomain.ts
  test/extractDomain.test.ts
Due: eslint --fix

test(string): add unit tests and fix type for string.ts
  src/string.ts
  test/bufferToString.test.ts
  test/capitalizer.test.ts
  test/escapeRegex.test.ts
  test/streamToString.test.ts
Due: eslint --fix

fix(parseQuery): improve accuracy and add unit tests
  src/parseQuery.ts
  test/parseQuery.test.ts
Due: eslint --fix

test(safelink): add unit tests and refactor direct tests
  test/index.direct.ts
  test/safelink.direct.ts
  test/safelink.test.ts
Due: eslint --fix

test(toURL): add unit tests and improve fallback handling
  src/toURL.ts
  test/toURL.test.ts
Due: eslint --fix

fix(parse): correct type import for NodeJS.ReadStream in parse method
  src/safelink.ts
Due: eslint --fix

docs(readme): improve structure, examples, and formatting
  readme.md
Due: none

build: support modern bundlers (Vite, Webpack) via rollup build
  package.json
  readme.md
  release/metadata.json
  release/readme.md
  rollup.config.js
Due: eslint --fix, prettier --list-different --write

chore: upgrade Yarn to version 4.9.2 and enable global cache
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: prettier --list-different --write

feat(changelog): add script to generate changelog from git history
  changelog.cjs
Due: none

refactor(test): update changelog
  src/test/index.html
Due: none

fix(docs): update changelog script reference from changelog.js to changelog.cjs
  docs.js
Due: eslint --fix

fix(docs): update script references in typedoc.config.js
  typedoc.config.js
Due: eslint --fix

chore: remove postinstall script
  postinstall.js
Due: eslint --fix

fix(scripts): change start script to use node instead of ts-node feat(scripts): prepare script to run husky
  package.json
Due: prettier --list-different --write

chore: remove .npmrc file to eliminate package-lock setting
  .npmrc
Due: none

fix(rollup): correct comment and add missing DTS bundle configurations
  rollup.config.js
Due: eslint --fix

fix(package): add missing types field for browser module and update prepack script
  package.json
Due: prettier --list-different --write

1.2.3
  package.json
Due: prettier --list-different --write
