Repository dimaslanjaka/safelink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --list-different --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.ts": "eslint --fix",
  "*.jsx": "eslint --fix",
  "*.tsx": "eslint --fix",
  "*.json": "prettier --list-different --write",
  "*.css": "prettier --list-different --write",
  "*.scss": "prettier --list-different --write",
  "*.yml": "prettier --list-different --write",
  "*.less": "prettier --list-different --write"
}

fix(package): add types and update module paths for browser module
  package.json
  readme.md
Due: prettier --list-different --write

2.0.0
  package.json
Due: prettier --list-different --write

feat: migrate project to ESM for major version 2.0.0
  .husky/pre-commit
  .vscode/settings.json
  .yarnrc.yml
  babel.config.js
  docs-runner.js
  docs.js
  docs.ts
  jest.config.ts
  nodemon.json
  package.json
  packer.cjs
  reindex-package.js
  rollup.config.js
  src-docs/EJSHelper.test.ts
  src-docs/EJSHelper.ts
  src-docs/EJSHelper/markdown.test.ts
  src/encryptionURL.ts
  src/index.ts
  src/parseQuery.ts
  src/resolveQueryUrl.ts
  src/safelink.ts
  src/test/index.html
  test/index.direct.ts
  test/parseUrl.ts
  test/safelink.direct.ts
  test/safelink.test.ts
  tsconfig.json
  typedoc-runner.cjs
  typedoc-server.cjs
  typedoc.config.cjs
  webpack.config.js
Due: eslint --fix, prettier --list-different --write

build(rollup): improve tsconfig compatibility for bundling
  rollup.config.js
  tsconfig.build.json
Due: eslint --fix, prettier --list-different --write

fix: rename output file for browser bundle in Rollup config
  rollup.config.js
Due: eslint --fix

fix: update parameter type for compile function in typedoc-runner
  typedoc-runner.cjs
Due: none

fix: update docs script and typedoc version in package.json
  package.json
Due: prettier --list-different --write

fix: refactor variable declarations for consistency in createDemo and add type annotation for copyDistToDemo
  docs.ts
Due: eslint --fix

refactor(core): simplify parseUrl logic and ensure consistent return type
  src/safelink.ts
  test/safelink.test.ts
Due: eslint --fix

refactor(core): simplify parseUrl logic and ensure consistent return type
  packer.cjs
  release/metadata.json
  release/safelinkify.tgz
  src/safelink.ts
  test/safelink.test.ts
Due: eslint --fix, prettier --list-different --write

fix: update clean script to remove redundant build and docs commands
  package.json
Due: prettier --list-different --write

fix: update integrity hashes and sizes for safelinkify tarballs in metadata.json and readme.md
  release/metadata.json
  release/readme.md
  release/safelinkify.tgz
Due: prettier --list-different --write

fix: remove redundant default export for safelink-browser-module
  package.json
Due: prettier --list-different --write

fix: update devDependencies and dependencies to latest versions
  package.json
Due: prettier --list-different --write

fix: update @babel/core, @types/jquery, axios, axios-cache-interceptor, ts-loader, and bootstrap to latest versions
  package.json
Due: prettier --list-different --write

fix: update binary-collections to version 2.0.10
  package.json
Due: prettier --list-different --write

fix: update cross-spawn dependency to a specific tarball URL
  package.json
Due: prettier --list-different --write

refactor(rollup): delegate tsconfig handling to @rollup/plugin-typescript
  rollup.config.js
Due: eslint --fix

build: fix TypeScript Debug Failure and enable ESM module type
  package.json
  rollup.config.js
Due: eslint --fix, prettier --list-different --write

chore(opencode): add custom agent definitions and configuration
  .opencode/agents/git-commit-from-diff.md
  .opencode/agents/modify-js-ts.md
  .opencode/opencode.jsonc
Due: none

ci(build-release): modernize workflow with Node 24, Bun, Yarn 4, and improved caching
  .github/workflows/build-release.yml
Due: prettier --list-different --write

fix(packer): improve hash tracking, add safety checks, and update header documentation
  packer.js
Due: eslint --fix

refactor(core): simplify parseUrl logic and ensure consistent return type
  release/metadata.json
  release/safelinkify.tgz
  src/safelink.ts
  test/safelink.test.ts
Due: eslint --fix, prettier --list-different --write
